<mat-toolbar color="primary">
    <span>Assessment Manager</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/questions">Questions</button>
    <button mat-button routerLink="/candidates">Candidates</button>
    <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>

<div class="account-details">
    <mat-card style="color: aliceblue;">
        <mat-card-header>
            <mat-card-title style="padding-bottom: 10px;">Account Details</mat-card-title>
            
        </mat-card-header>
        <mat-card-content>
            <p><strong>Username:</strong> {{ accountDetails.userName }}</p>
            <p><strong>Email:</strong> {{ accountDetails.userMail }}</p>
            <p><strong>Role:</strong> {{ accountDetails.userRole }}</p>
        </mat-card-content>
    </mat-card>
</div>