<div class="login-container">
    <mat-card>
      <mat-card-title>Login</mat-card-title>
      <form>
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" type="email" required>
        </mat-form-field>
        
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" type="password" required>
        </mat-form-field>
        
        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
      <mat-card-footer>
        <a (click)="navigateTo('account/signup')" >
            Don't have an account? Sign up here.
        </a>
        <button class="btn btn-primary">
            sam
        </button>
      </mat-card-footer>
    </mat-card>
  </div>
  
