.question-form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #424242;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.full-width {
    width: 100%;
}

.options-container {
    margin-bottom: 20px;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
}