<div class="question-list-container">
    <h1>Questions</h1>
    <div class="actions">
      <button mat-raised-button color="primary"
      (click)="navigateTo('questions/create')" >
        Add Question
      </button>
    </div>

    <table *ngIf="dataSource && dataSource.filteredData && dataSource.filteredData.length > 0" 
        mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
       class="mat-elevation-z8">

       <!-- Action Column -->
       <ng-container matColumnDef="_id">
            <th mat-header-cell *matHeaderCellDef >
                Action
            </th>
            <td mat-cell *matCellDef="let element"> 
                <div class="question-actions">
                    
                    <button mat-icon-button color="accent" (click)="navigateTo('/questions/'+ element._id)" >
                      <mat-icon>visibility</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="navigateTo('/questions/edit/'+element._id)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteQuestion(element._id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
            </td>
        </ng-container>

        <!-- updatedAt Column -->
        <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                Updated At
            </th>
            <td mat-cell *matCellDef="let element"> {{element.updatedAt | date:'medium'}} </td>
        </ng-container>

        <!-- Question Text Column -->
        <ng-container matColumnDef="text">
            <th mat-header-cell *matHeaderCellDef >
                Question Text
            </th>
            <td mat-cell *matCellDef="let element"> {{element.text}} </td>
        </ng-container>

        <!-- Tags Column -->
        <ng-container matColumnDef="tags">
            <th mat-header-cell *matHeaderCellDef >
            Tags
            </th>
            <td mat-cell *matCellDef="let element"> {{element.tags}} </td>
        </ng-container>

        <!-- Created At Column -->
        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef >
                Created At
            </th>
            <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'medium'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  
