.candidate-form-card {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
}
.spacer {
    flex: 1 1 auto;
}

.account-details {
    margin: 20px;
    display: flex;
    justify-content: center;
}

mat-card {
    max-width: 600px;
    width: 100%;
}