.candidate-detail-card {
    max-width: 600px;
    margin: 20px auto;
}

mat-card-header mat-card-title {
    font-size: 1.5em;
}

mat-card-content p {
    margin: 0;
    padding: 10px 0;
}

.spacer {
    flex: 1 1 auto;
}

.account-details {
    margin: 20px;
    display: flex;
    justify-content: center;
}

mat-card {
    max-width: 600px;
    width: 100%;
}